langchain==0.3.25
langchain-community==0.3.23
langchain-groq==0.3.2
langchain-pinecone>=0.2.3
langchain-core>=0.3.58,<1.0.0
pinecone==7.3.0
gitpython==3.1.44
sentence-transformers>=2.7.0
huggingface-hub>=0.23.4
transformers>=4.40.0
tokenizers>=0.20.0
streamlit==1.44.1
python-dotenv==1.1.0
fastapi
tiktoken==0.9.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu